body {
background-color: rgb(42, 125, 91);
font-family: sans-serif, cursiva;
font-style:normal;
/*text-align: center;*/
}
h1{
/*  background-color: (255, 108, 81);*/
  color: rgb(184,3,3);
  font-size: 45px;
  font-style: ;
  font-weight: bold;
  text-align: center
  /*line-height: 150px;
  border :solid red 1px;*/
}

p{
/*  border: solid 1px #ff0000;*/
  font-family : ;
  color: rgb(15, 33, 71);
  text-align: center;
  font-size: 32px;
  line-height: 10px;
  text-decoration: none;
  /*background-color: darkred;*/
  font-weight: bold;

}
/* path ruta*/
ol li ul li {
  background-color: blue;

}
